@use '../../base';

.App {
    background-color: base.$bg-very-light-grey;
    font-family: base.$main-font;
    font-size: 1rem;
   // overflow-x: hidden;
   // min-height: 100vh;  
    
    @include base.mQ(1650px) {
        width: 95%;
        max-width: 1490px;
        margin: 0 auto;
    }
}
/*
@include base.mQ(1650px) {
    .App {
    width: 95%;
    max-width: 1490px;
    margin: 0 auto;
    }
}*/