@use './base';
@mixin screen-reader {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@mixin mQ($arg) {
  @media screen and (min-width: $arg) {
    @content;
  }
}

@mixin home-hero-img {
  padding: 52px 24px;
  max-width: 536px;
  display: grid;
  grid-gap: 30px 0;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  place-items: center;
  margin: auto;

  .hero__img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
  }

  @include mQ(375px) {
    place-items: flex-start;

    .hero__img:nth-child(2n) {
      justify-self: end;
    }
  }

  @include mQ(498px) {
    .hero__img:not(:first-child) {
      justify-self: end;
    }

    .hero__img:nth-child(4n) {
      justify-self: start;
    }

    .hero__img:nth-child(5n) {
      justify-self: center;
    }
  }
}

