@use 'sass:color';
$bg-main-color: color.scale(#66717f, $lightness: 20%);
$bg-modal: color.scale(#1B262F, $lightness: 0%);
$tx-white: #ffffff;
$bg-btn-pink: #BA4270;
$main-font: 'Public Sans', sans-serif;
$heading-font: 'DM Serif Display', serif;