@use 'sass:color';
$bg-main-color: color.scale(#66717f, $lightness: 20%);
$bg-dark-grey: color.scale(#1B262F, $lightness: 0%);
$bg-very-light-grey: #FBFCFE;
$tx-white: #ffffff;
$tx-dark-grey: #36536b;
$tx-grey-mid: #6C8294;
$bg-btn-pink: #BA4270;
$main-font: 'Public Sans', sans-serif;
$heading-font: 'DM Serif Display', serif;