@use '../../base';
@use '../../components';

header {
    position: relative;
    padding-bottom: 40px;

    &::before {
        position: absolute;
        content: "";
        width: 100%;
        min-height: 230px;
        // background-color: base.$bg-main-color;
        background-image: url("../../../assets/shared/desktop/bg-pattern-circle.svg");
        background-position: 50% 100%;
        background-repeat: no-repeat;
        opacity: 0.4;
    }

    nav {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 24px 0;
    }

    .menu__control {
        position: relative;
    }

    .close__menu {
        position: absolute;
        top: 0;
        left: 0;
        // display: none;
    }

    .hamburger,
    .close__menu {
        background: inherit;
        border: transparent;
        // display: none;
    }

    .modal {
        display: none;
        position: absolute;
        width: 50%;
        width: 80%;
        right: 0;
        top: 0px;
        background-color: base.$bg-modal;
        padding-bottom: 335px;
    }

    .nav__list {

        padding-top: 139px;
        padding-bottom: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;

        &::before {
            position: absolute;
            content: "";
            width: 80%;
            height: 1px;
            background: white;
            top: 95px;
            left: 50%;
            margin-left: -40%;
        }
    }

    li {
        list-style: none;
    }

    .anchor {
        text-decoration: none;
        color: base.$tx-white;
    }

    // hero section
    .hero__summary {
        padding: 0 24px;
    }

    .hero__img {
        width: 52%;
        margin: auto;
    }

    .hero__title {
        font-size: base.calculateRem(32);
        font-family: base.$heading-font;
        line-height: 36px;
        letter-spacing: -0.25px;
        text-align: center;
        color: base.$tx-grey;
        margin-bottom: 25px;
    }

    .modal__open {
        display: block;
    }

    .toggle__btn__close {
        display: block;
        position: relative;
    }

    .toggle__btn__open {
        display: none;
    }

    @include base.mQ(768px) {
        &::before {
            min-height: 340px;
            background-position: 50% 100%;
            background-size: 120%;
        }

        .menu__control {
            display: none;
        }

        .modal {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-bottom: 10px;
            background-color: transparent;
        }

        .modal__open {
            //  display: flex;

        }

        nav {
            padding: 40px 39px 0;
        }

        .nav__list {
            flex-direction: row;
            padding-top: 50px;
            padding-bottom: 50px;
            justify-content: flex-start;

            &::before {
                width: 0;
            }
        }

        .anchor {
            color: base.$tx-grey;
        }

        // hero section
        .hero__summary {
            max-width: 573px;
            margin: auto;
        }

        .hero__title {
            font-size: base.calculateRem(48);
            line-height: 56px;
            letter-spacing: -0.37px;
        }

    }

    //desktop

    @include base.mQ(1280px) {
        &::before {
            min-height: 420px;
            background-position: 105% 105%;
            background-size: 39%;
        }

        nav {
            padding: 40px 165px 0;
        }

        .modal {
            width: 75%;
            justify-content: space-between;
            margin: auto;
        }

        .hero {
            display: flex;
            flex-direction: row-reverse;
            padding: 0 165px;
            margin-top: 56px;
        }

        .hero__container {
            flex: 1 1 40%;
        }

        .hero__summary {
            flex: 1 1 60%;
            max-width: 100%;
        }

        .hero__title {
            text-align: left;
            font-size: base.calculateRem(72);
            line-height: 72px;
            letter-spacing: -0.55px;
            margin-top: 100px;
            margin-bottom: 54px;
        }
    }
}

.form {
    position: relative;

    .email {
        display: block;
        margin: 0 auto 20px;
        max-width: 327px;
        padding: .7rem 1rem;
        width: 100%;
        border-radius: 24px;
        border: 1px solid transparent;
        font-weight: 700;
    }

    .form__questions {
        margin: 24px auto 0;
        text-align: center;
        color: #6C8294;
    }

    .form__anchor {
        color: #6C8294;
        font-weight: 700;
    }

    // screen reader
    .sr-only {
        @include base.screen-reader;
    }

    @include base.mQ(768px) {
        .email {
            margin: 0;
            display: inline-block;
        }
        .form__questions {
            text-align: left;
        }
    }

    @include base.mQ(1280px) {
        .email {
            max-width: 295px;
        }
    }

}