@use "../../base";
@use "../../components";

//header section for all pages
.header {
    position: relative;
 

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        letter-spacing: 0;
        content: "";
        width: 100%;
        min-height: 230px;
        background-image: url("../../../assets/shared/desktop/bg-pattern-circle.svg");
        background-position: 50% 100%;
        background-repeat: no-repeat;
        opacity: 0.4;
    }

    .logo--link {
        &:focus > img {
            outline: 2px solid base.$anchor-focus;
        }

        img {
            padding: 0.4rem;
        }
    }

    nav {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
       padding: base.calculateRem(40) base.calculateRem(24) 0;
    }

    .menu__control {
        position: relative;
        z-index: 3;
    }

    .close__menu {
        position: absolute;
        top: 0;
        left: 0;
        // display: none;
    }

    .hamburger,
    .close__menu {
        background: inherit;
        border: transparent;

        &:focus {
            outline: 3px dotted base.$anchor-focus;
        }
    }

    .modal {
        display: none;
        position: absolute;
        width: 50%;
        width: 80%;
        right: 0;
        top: 0px;
        background-color: base.$bg-dark-grey;
        padding-bottom: base.calculateRem(335);
    }

    .nav__list {
        padding-top: base.calculateRem(139);
        padding-bottom: base.calculateRem(36);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;

        &::before {
            position: absolute;
            content: "";
            width: 80%;
            height: 1px;
            background: white;
            top: 95px;
            left: 50%;
            margin-left: -40%;
        }
    }

    li {
        list-style: none;
    }

    .anchor {
        position: relative;
        text-decoration: none;
        color: base.$tx-white;
        font-weight: 300;
        border: 2px solid transparent;
        border-radius: 20px;
        padding: 0.1rem 0.5rem;

        &:focus,
        &:hover {
            outline: 2px solid base.$anchor-focus;
            font-weight: 900;
        }

        &:hover {
            cursor: pointer;
        }
    }

    // cta section for home page
    .cta__questions {
        margin: base.calculateRem(24) auto 0;
        text-align: center;
        color: base.$tx-grey-mid;

        .cta__summary--anchor {
            color: base.$tx-grey-mid;
            font-weight: 700;
        }
    }

    .cta__summary {
        padding: 0 base.calculateRem(24);
    }

    .cta__img {
        width: 54%;
        margin: auto;
    }

    .modal__open {
        display: block;
        z-index: 2;
    }

    .toggle__btn__close {
        display: block;
        position: relative;
    }

    .toggle__btn__open {
        // display: none;
    }

    @include base.mQ(720px) {
        &::before {
            min-height: 340px;
            background-position: 50% 100%;
            background-size: 120%;
        }

        .cta__container {
            margin-top: base.calculateRem(25);
        }

        .cta__img {
            width: 32%;
        }

        .menu__control {
            display: none;
        }

        .modal {
            width: 75%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-bottom: base.calculateRem(10);
            background-color: transparent;
        }

        nav {
            padding: base.calculateRem(40) base.calculateRem(39) 0;
        }

        .nav__list {
            flex-direction: row;
            padding-top: base.calculateRem(55);
            padding-bottom: base.calculateRem(50);
            justify-content: flex-start;
            gap: 15px;

            &::before {
                width: 0;
            }
        }

        .anchor {
            color: base.$tx-grey-mid;
        }

        // cta section
        .cta__summary {
            max-width: 573px;
            margin: auto;
        }
    }

    //desktop

    @include base.mQ(1280px) {
        padding-bottom: 0;

        &::before {
            min-height: 640px;
            background-position: 130% 140%;
            background-size: 55%;
        }

        nav {
            padding: base.calculateRem(40) base.calculateRem(165) 0;
        }

        .modal {
            width: 75%;
            justify-content: space-between;
            margin: auto;
        }

        .cta {
            display: flex;
            flex-direction: row-reverse;
            padding: 0 base.calculateRem(165);
            margin-top: 0; //base.calculateRem(32);
        }

        .cta__container {
            flex: 1 1 40%;
        }

        .cta__summary {
            flex: 1 1 60%;
            max-width: 100%;
        }

        .cta__img {
            width: 95%;
        }

        .cta__questions {
            text-align: left;
        }
    }
}

//header form

.form {
    position: relative;
    z-index: 1;

    .email {
        display: block;
        margin: 0 auto base.calculateRem(20);
        max-width: 327px;
        padding: 0.7rem 1rem;
        width: 100%;
        border-radius: 24px;
        border: 3px solid transparent;
        font-weight: 700;
        box-shadow: 2px 2px 3px 2px base.$tx-grey-mid;

        &:focus {
            outline: 3px solid base.$anchor-focus;
        }
    }

    &:focus-within {
        border: 2px solid rgb(29, 4, 4);
    }

    // screen reader
    .sr-only {
        @include base.screen-reader;
    }

    @include base.mQ(720px) {
        text-align: center;

        .email {
            margin: 0;
            display: inline-block;
        }
    }

    @include base.mQ(1280px) {
        text-align: left;

        .email {
            max-width: 295px;
        }
    }
}

.header__secondary {
    &::before {
        background-position: -18% 115%;
    }

    @include base.mQ(720px) {
        &::before {
            background-position: -40% 100%;
            background-size: 200%;
        }
    }

    @include base.mQ(1280px) {
        &::before {
            background-position: -258% 143%;
            background-size: 113%;
        }
    }
}
