@use '../../base';

.main__contact {
    .primary__contact {
        margin-top: base.calculateRem(50);
    }
    .primary__title__contact {
        font-size: base.calculateRem(24);
        line-height: 32px;
        letter-spacing: -0.18px;
        color: base.$tx-dark-grey;
        padding: 0 24px;
    }
    @include base.mQ(80rem) {
        .contact__primary {
            padding: base.calculateRem(30) 0px base.calculateRem(30) base.calculateRem(165);
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: base.calculateRem(96);
        }
        .primary__contact {
            margin-top: 0;
            flex-direction: column;
            align-items: baseline;
        }
    }
}