@use '../../base';

.main__contact {
    .hero__contact {
        margin-top: base.calculateRem(50);
    }
    .hero__title__contact {
        font-size: base.calculateRem(24);
        line-height: 32px;
        letter-spacing: -0.18px;
        color: base.$tx-dark-grey;
        padding: 0 24px;
    }
    @include base.mQ(1280px) {
        .contact__primary {
            padding: base.calculateRem(30) 0px base.calculateRem(30) base.calculateRem(165);
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: base.calculateRem(96);
        }
        .hero__contact {
            margin-top: 0;
        }
    }
}