@use '../../base';

.main__pricing {
    margin-top: -10px;
    text-align: center;
    padding: 0 24px;
    .pricing__link--btn {
        color: base.$tx-dark-grey;
        border: 1px solid base.$tx-dark-grey;
        padding: 0.9rem 1rem;
        max-width: 168px;
        text-align: center;
    }
    .plan__list {
        max-width: 134px;
        margin: auto;
    }
    .plan__list__item {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .pricing__title {
        color: base.$tx-pink;
        font-family: base.$heading-font;
        line-height: 32px;
        font-size: base.calculateRem(24);
        letter-spacing: -0.18px;
    }
    .sub__pricing__list {
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
    }
    .pricing__summary {
        font-size: base.calculateRem(15);
        font-weight: 900;
        color: base.$tx-dark-grey;
        margin-top: 24px;
    }
}