@use "../../base";
@use "../../components";

.primary__container {
    background-image: url("../../../assets/shared/desktop/bg-pattern-circle.svg");
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: 50% -110%;
    background-color: base.$bg-dark-grey;
    padding-top: 1rem;
    @include base.mQ(45rem) {
        background-size: 93%;
        background-position: 0% 375%;
    }

    @include base.mQ(80rem) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        padding: 2.5rem base.calculateRem(165);
        background-size: 50%;
        background-position: -25% 120%;
    }
}

.primary__images {
    @include base.home-primary-img;
}
.contact__images {
    padding: 52px 0;
}
.primary__signup {
    color: base.$tx-white;
    text-align: center;
    padding-top: base.calculateRem(5);
    max-width: 457px;
    margin: auto;
    @include base.mQ(80rem) {
        margin: 0;
    }
}

.primary__title {
    font-size: base.calculateRem(32);
    line-height: 1.125;
    font-family: base.$heading-font;
    letter-spacing: -0.25px;

    @include base.mQ(45rem) {
        text-align: center;
        font-size: base.calculateRem(48);
        letter-spacing: -0.37px;
    }

    @include base.mQ(80rem) {
        text-align: left;
    }
}

.primary__summary {
    font-size: base.calculateRem(15);
    line-height: 1.9;
    font-weight: 200;
    padding: base.calculateRem(12) base.calculateRem(24);
    color: #fbfcfe;

    @include base.mQ(80rem) {
        text-align: left;
        padding: base.calculateRem(20) 0;
    }
}

.link--btn {
    font-size: 1rem;
    letter-spacing: -0.12px;
    color: white;
    text-decoration: none;
    border: 2px solid base.$tx-white;
    padding: 0.9rem 1.8rem;
    border-radius: 24px;
    display: inline-block;
    margin: 4rem auto;
    max-width: 10.5rem;

    &:focus,
    &:hover {
        outline: 2px solid base.$bg-dark-grey;
        border: 2px solid transparent;
        background-color: base.$tx-white;
        color: base.$tx-dark-grey;
    }
    @include base.mQ(80rem) {
        margin-left: 0;
    }
}
