@use '../../base';

.main__about {
    margin-top: -10px;
    text-align: center;
    // padding: 0 24px;

    .mission__title {
        color: base.$tx-dark-grey;
        font-family: base.$heading-font;
        line-height: 32px;
        font-size: base.calculateRem(24);
        letter-spacing: -0.18px;
    }

    .mission__summary {
        padding: 0 24px;
    }

    .mission {
        margin-bottom: 42px;
    }

    .hero__about__img {
        margin: auto;
    }

    @include base.mQ(720px) {
        .mission {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 39px;
        }

        .mission__title {
            flex: 1 1 33%;
            text-align: left;
        }

        .mission__summary {
            padding: 0;
            flex: 1 1 67%;
            text-align: left;
        }
    }

    @include base.mQ(1280px) {

        margin-top: 10px;

        .missions {
            padding: 0 260px;
        }
    }
}