@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Public+Sans:wght@100;300;400;500;600;700;800;900&display=swap");
*, *::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.btn {
  max-width: 327px;
  width: 100%;
  background-color: #BA4270;
  color: #ffffff;
  border: 1px solid transparent;
  padding: 0.7rem 3rem;
  border-radius: 24px;
  margin: auto;
  display: block;
}

.js__primary {
  font-weight: 700;
}

header {
  position: relative;
  padding-bottom: 40px;
}
header::before {
  position: absolute;
  content: "";
  width: 100%;
  min-height: 230px;
  background-image: url("../../../assets/shared/desktop/bg-pattern-circle.svg");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  opacity: 0.4;
}
header nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 24px 0;
}
header .menu__control {
  position: relative;
}
header .close__menu {
  position: absolute;
  top: 0;
  left: 0;
}
header .hamburger,
header .close__menu {
  background: inherit;
  border: transparent;
}
header .modal {
  display: none;
  position: absolute;
  width: 50%;
  width: 80%;
  right: 0;
  top: 0px;
  background-color: #1b262f;
}
header .nav__list {
  padding-top: 139px;
  padding-bottom: 139px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
}
header .nav__list::before {
  position: absolute;
  content: "";
  width: 80%;
  height: 1px;
  background: white;
  top: 95px;
  left: 50%;
  margin-left: -40%;
}
header li {
  list-style: none;
}
header .anchor {
  text-decoration: none;
  color: #ffffff;
}
header .hero__summary {
  padding: 0 24px;
}
header .hero__img {
  width: 52%;
  margin: auto;
}
header .hero__title {
  font-size: 2rem;
  line-height: 36px;
  letter-spacing: -0.25px;
  text-align: center;
  color: #36536b;
  margin-bottom: 25px;
}
header .modal__open {
  display: block;
}
header .toggle__btn__close {
  display: block;
  position: relative;
}
header .toggle__btn__open {
  display: none;
}

.form {
  position: relative;
}
.form .email {
  display: block;
  margin: 0 auto 20px;
  max-width: 327px;
  padding: 0.7rem 1rem;
  width: 100%;
  border-radius: 24px;
  border: 1px solid transparent;
  font-weight: 700;
}
.form .form__questions {
  margin: 24px auto 0;
  text-align: center;
  color: #6C8294;
}
.form .form__anchor {
  color: #6C8294;
  font-weight: 700;
}
.form .sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

body {
  background-color: #FBFCFE;
  font-family: "Public Sans", sans-serif;
  font-size: 15px;
  overflow-x: hidden;
}
