@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Public+Sans:wght@100;300;400;500;600;700;800;900&display=swap");
*, *::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/*remove styles on list items */
li {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.btn {
  max-width: 21rem;
  width: 100%;
  background-color: #BA4270;
  color: #ffffff;
  border: 3px solid transparent;
  padding: 0.7rem 3rem;
  border-radius: 24px;
  margin: auto;
  display: block;
  font-weight: 700;
}
.btn:focus {
  outline: 3px solid black;
}
.btn:hover {
  outline: 3px solid black;
  cursor: pointer;
}
@media screen and (min-width: 45rem) {
  .btn {
    margin: 0;
    display: inline-block;
    padding: 0.7rem 1rem;
  }
}

@media screen and (min-width: 80rem) {
  .js__secondary--btn {
    margin-right: 10.3125rem;
  }
}

.js__form--btn {
  margin-left: 0;
  color: #36536b;
  background: inherit;
  border: 1px solid #36536b;
  max-width: 152px;
  display: block;
}
.js__form--btn:focus {
  outline: 3px solid black;
  color: #ffffff;
  background-color: #36536b;
}
.js__form--btn:hover {
  outline: 3px solid black;
  color: #ffffff;
  background-color: #36536b;
  cursor: pointer;
}

.card {
  margin-bottom: 2.1875rem;
  margin-top: 0.9375rem;
  padding: 0 1.5rem;
}
.card .card__title {
  text-align: center;
  font-size: 2.25rem;
  line-height: 36px;
  letter-spacing: -0.26px;
  font-family: "DM Serif Display", serif;
  color: #36536b;
}
.card .card__subtitle {
  font-family: "DM Serif Display", serif;
  color: #36536b;
  text-align: center;
  font-size: 1.125rem;
  line-height: 25px;
  letter-spacing: -0.14px;
}
.card .card__description {
  margin-top: 1.5625rem;
}
.card .card__summary {
  font-size: 0.9375rem;
  line-height: 28px;
  font-weight: 300;
  padding: 1.25rem 0;
  text-align: center;
  color: #6C8294;
}
.card .card__img {
  margin: auto;
  max-width: 100vw;
}
.card .btn__formImg {
  width: 32%;
  margin: auto;
}
@media screen and (min-width: 45rem) {
  .card {
    padding: 0;
  }
  .card .cards__two {
    padding: 0 2.4375rem;
    display: flex;
    margin: auto;
  }
  .card .card__title {
    font-size: 3rem;
    line-height: 36px;
    letter-spacing: -0.37px;
  }
  .card .card__summary {
    max-width: 573px;
    margin: auto;
  }
  .card .card__img {
    width: 70%;
    margin-bottom: -2.6875rem;
  }
  .card .js__primaryImg {
    margin-bottom: 2.6875rem;
    width: 40%;
  }
}
@media screen and (min-width: 80rem) {
  .card .card__summary {
    text-align: left;
  }
  .card .card__title {
    text-align: left;
  }
  .card .card__description {
    max-width: 445px;
  }
  .card .card__img {
    width: 100%;
  }
  .card .js__primaryImg {
    width: 40%;
  }
}

@media screen and (min-width: 45rem) {
  .cards__two {
    display: flex;
    flex-wrap: nowrap;
    padding: 2.4375rem;
    gap: 15px;
  }
}
@media screen and (min-width: 80rem) {
  .cards__two {
    padding: 0 10.3125rem;
  }
}

@media screen and (min-width: 80rem) {
  .cards__one .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10.3125rem;
  }
  .cards__one .card .card__img {
    margin-left: 0;
  }
  .cards__one .card:last-child {
    position: relative;
    flex-direction: row-reverse;
    z-index: 2;
  }
  .cards__one .card:last-child .card__img {
    margin-right: 0;
    margin-left: auto;
  }
  .cards__one .card:last-child::before {
    position: absolute;
    top: -10px;
    right: -75px;
    content: "";
    width: 500px;
    height: 575px;
    background-image: url("../../assets/shared/desktop/bg-pattern-circle.svg");
    z-index: 1;
    background-size: 150% 100%;
    background-repeat: no-repeat;
  }
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  background-color: #edf3f8;
}
@media screen and (min-width: 45rem) {
  .cta {
    flex-direction: row;
  }
}

.cta__summary {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.cta__summary__shared {
  padding: 0 24px;
}
.cta__summary__shared .header__title {
  font-size: 2rem;
  font-family: "DM Serif Display", serif;
  line-height: 36px;
  letter-spacing: -0.25px;
  text-align: center;
  color: #36536b;
  margin-bottom: 25px;
}
.cta__summary__shared .form {
  max-width: 573px;
  margin: auto;
  padding-bottom: 50px;
  text-align: center;
}
@media screen and (min-width: 80rem) {
  .cta__summary__shared {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0 165px;
  }
  .cta__summary__shared .form {
    margin: 0;
    display: flex;
    flex: 1 1 50%;
    justify-content: right;
  }
  .cta__summary__shared .header__title {
    flex: 1 1 50%;
    text-align: left;
    padding: 0;
  }
}

.footer {
  background-image: url("../../assets/shared//desktop//bg-pattern-circle.svg");
  position: relative;
  background-repeat: no-repeat;
  background-size: 140%;
  background-position: 50% -100%;
  background-color: #1b262f;
  padding-top: 45px;
  padding-bottom: 100px;
}
.footer .logo--link:focus > img {
  outline: 2px solid #BA4270;
}
.footer .footer__logo {
  margin: auto;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}
.footer .footer__logo:focus {
  outline: 2px solid #BA4270;
}
.footer .social__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}
.footer .social__icons .anchor:focus {
  outline: 2px solid #BA4270;
}
.footer .social__icons .anchor:not(:last-child) {
  margin-right: 25px;
}
@media screen and (min-width: 720px) {
  .footer {
    background-position: -115% 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 39px;
  }
  .footer .logo--link {
    flex: 1 1 25%;
  }
  .footer .social__icons {
    margin-top: 0;
    flex: 1 1 30%;
  }
  .footer .footer__nav {
    display: flex;
    justify-content: space-evenly;
    flex: 1 1 75%;
  }
}

.js__footer__list {
  text-align: center;
  padding-top: 40px;
}
.js__footer__list .nav__list__item {
  list-style-type: none;
}
.js__footer__list .nav__list__item:not(:last-child) {
  margin-bottom: 25px;
}
.js__footer__list .anchor {
  color: #ffffff;
  text-decoration: none;
}
.js__footer__list .anchor:focus, .js__footer__list .anchor:focus {
  outline: 2px solid #BA4270;
  font-weight: 900;
}
@media screen and (min-width: 720px) {
  .js__footer__list {
    padding-top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1 1 75%;
  }
  .js__footer__list .nav__list__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.header__title {
  font-size: 2rem;
  font-family: "DM Serif Display", serif;
  line-height: 1.125;
  letter-spacing: -0.25px;
  text-align: center;
  color: #36536b;
}
@media screen and (min-width: 45rem) {
  .header__title {
    font-size: 3rem;
    line-height: 56px;
    letter-spacing: -0.37px;
  }
}
@media screen and (min-width: 80rem) {
  .header__title {
    text-align: left;
    font-size: 4.5rem;
    line-height: 72px;
    letter-spacing: -0.55px;
    margin-top: -6rem;
    margin-bottom: 3.375rem;
  }
}

.secondary__title {
  margin-top: 3.125rem;
  margin-bottom: 0;
}
@media screen and (min-width: 45rem) {
  .secondary__title {
    margin-top: 4.0625rem;
    padding: 0 6.0625rem;
  }
}
@media screen and (min-width: 80rem) {
  .secondary__title {
    padding: 0 10.3125rem;
    max-width: 1230px;
  }
}

@media screen and (min-width: 80rem) {
  .about__title {
    padding: 0.625rem 6.75rem 0 16.25rem;
  }
}
.paragraph {
  font-size: 0.9375rem;
  font-weight: 500;
  color: #6C8294;
  margin-top: 20px;
  line-height: 28px;
}
@media screen and (min-width: 80rem) {
  .paragraph {
    text-align: left;
  }
}

.form {
  position: relative;
  z-index: 1;
  width: 100%;
  border: 2px solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.form:focus-within {
  border: 2px solid rgb(29, 4, 4);
}
@media screen and (min-width: 45rem) {
  .form {
    text-align: center;
  }
}
@media screen and (min-width: 80rem) {
  .form {
    text-align: left;
  }
}

.email {
  display: block;
  max-width: 21rem;
  padding: 0.7rem 1rem;
  width: 100%;
  border-radius: 24px;
  border: 3px solid transparent;
  font-weight: 700;
  box-shadow: 2px 2px 3px 2px #6C8294;
}
.email:focus {
  outline: 3px solid #BA4270;
}
@media screen and (min-width: 45rem) {
  .email {
    margin: 0;
    display: inline-block;
  }
}

.form__contact {
  padding: 0.9375rem 1.5rem;
  max-width: 28rem;
  margin: auto;
}
.form__contact .details {
  position: relative;
  margin-bottom: 1rem;
}
.form__contact .form__inputs {
  display: block;
  width: 100%;
  padding: 1rem 0 0;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: inherit;
  border-bottom: 1px solid #36536b;
}
.form__contact .form__inputs:focus {
  outline: 3px solid #36536b;
}
.form__contact .form__inputs:hover {
  outline: 3px solid #36536b;
}
.form__contact .input__label {
  font-size: 0.75rem;
  line-height: 25px;
  letter-spacing: -0.12px;
  position: absolute;
  top: -5px;
  left: 0;
}
.form__contact .details__check {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}
.form__contact .check__label {
  text-align: left;
  margin-left: 0.9375rem;
}
.form__contact .error__alert {
  text-align: left;
  margin-left: 0;
  display: block;
  margin-top: -1.25rem;
  color: #ff0000;
  font-size: 0.6875rem;
}
@media screen and (min-width: 80rem) {
  .form__contact {
    padding: 0.9375rem 0;
    margin: 0;
  }
}

.header {
  position: relative;
  background-color: #edf3f8;
  padding: 2.5rem 1.5rem;
}
.header::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100vw;
  min-height: 15rem;
  background-image: url(/assets/shared/desktop/bg-pattern-circle.svg);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  opacity: 0.4;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal {
  display: none;
  position: absolute;
  width: 80%;
  height: 100vh;
  right: 0;
  top: 0px;
  background-color: #1b262f;
  z-index: 2;
}
@media screen and (min-width: 45rem) {
  .modal {
    position: relative;
    height: auto;
    display: block;
    background-color: inherit;
  }
}

.modal__open {
  display: block;
}

.menu__control {
  position: relative;
  z-index: 10;
}
@media screen and (min-width: 45rem) {
  .menu__control {
    display: none;
  }
}

.nav__list {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
@media screen and (min-width: 45rem) {
  .nav__list {
    flex-direction: row;
  }
}

.hamburger {
  border: transparent;
}

.toggle__btn__open {
  background: #1b262f;
}

.modal::before {
  position: absolute;
  height: 1px;
  width: 90%;
  background: #979797;
  content: "";
  top: 6rem;
  left: 50%;
  margin-left: -45%;
}

.anchor {
  font-size: 1.25rem;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
}
@media screen and (min-width: 45rem) {
  .anchor {
    color: #36536b;
  }
}

.logo__wrapper {
  position: relative;
  z-index: 0;
}

.hero__container {
  background-image: url("../../../assets/shared/desktop/bg-pattern-circle.svg");
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: 50% -110%;
  background-color: #1b262f;
  padding-bottom: 6.25rem;
}

.hero__images {
  padding: 52px 24px;
  max-width: 536px;
  display: grid;
  grid-gap: 30px 0;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  place-items: center;
  margin: auto;
}
.hero__images .hero__img__home {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}
@media screen and (min-width: 375px) {
  .hero__images {
    place-items: flex-start;
  }
  .hero__images .hero__img:nth-child(2n) {
    justify-self: end;
  }
}
@media screen and (min-width: 498px) {
  .hero__images .hero__img:not(:first-child) {
    justify-self: end;
  }
  .hero__images .hero__img:nth-child(4n) {
    justify-self: start;
  }
  .hero__images .hero__img:nth-child(5n) {
    justify-self: center;
  }
}

.hero__signup {
  color: #ffffff;
  text-align: center;
  padding-top: 0.3125rem;
  max-width: 457px;
  margin: auto;
}

.hero__title {
  font-size: 2rem;
  line-height: 36px;
  font-family: "DM Serif Display", serif;
  letter-spacing: -0.25px;
}

.hero__summary {
  font-size: 0.9375rem;
  line-height: 28px;
  font-weight: 200;
  padding: 0.75rem 1.5rem;
}

.link--btn {
  font-size: 1rem;
  letter-spacing: -0.12px;
  color: white;
  text-decoration: none;
  border: 2px solid #ffffff;
  padding: 0.9rem 1.8rem;
  border-radius: 24px;
  display: block;
  margin: 56px auto 0;
  max-width: 130px;
}
.link--btn:focus, .link--btn:hover {
  outline: 2px solid #1b262f;
  border: 2px solid transparent;
  background-color: #ffffff;
  color: #36536b;
}

@media screen and (min-width: 45rem) {
  .hero__container {
    background-size: 50%;
    background-position: -25% 130%;
    padding-top: 6.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .secondary__cards {
    margin-bottom: 6.25rem;
  }
  .hero {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    align-items: center;
    padding: 0 10.3125rem 0 0;
  }
  .hero__title {
    text-align: left;
    font-size: 3rem;
    line-height: 56px;
    letter-spacing: -0.37px;
  }
  .hero__summary {
    text-align: left;
    padding: 1.25rem 0;
  }
  .link--btn {
    margin-left: 0;
  }
}
.App {
  background-color: #FBFCFE;
  font-family: "Public Sans", sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
}
@media screen and (min-width: 1650px) {
  .App {
    width: 95%;
    max-width: 1490px;
    margin: 0 auto;
  }
}

.main__pricing {
  margin-top: -0.625rem;
  text-align: center;
  padding: 0 1.5rem;
}
.main__pricing .pricing__link--btn {
  color: #36536b;
  border: 1px solid #36536b;
  padding: 0.7rem 1rem;
  max-width: 168px;
  text-align: center;
  margin-top: 1.25rem;
}
.main__pricing .pricing__link--btn:hover, .main__pricing .pricing__link--btn:focus {
  color: #ffffff;
  background-color: #36536b;
}
.main__pricing .plans {
  margin-bottom: 6.25rem;
}
.main__pricing .plan {
  margin-bottom: 2rem;
}
.main__pricing .plan__list {
  margin: 1.5rem auto;
  border-top: 1px solid #6C8294;
  border-bottom: 1px solid #6C8294;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.main__pricing .transactions {
  justify-self: left;
}
.main__pricing .plan__list__item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 134px;
  margin: 0.875rem auto;
  align-items: center;
}
.main__pricing .not__ticked {
  filter: opacity(0);
}
.main__pricing .pricing__title {
  color: #BA4270;
  font-family: "DM Serif Display", serif;
  line-height: 32px;
  font-size: 1.5rem;
  letter-spacing: -0.18px;
}
.main__pricing .sub__pricing__list {
  margin-top: 1.5rem;
}
.main__pricing .main__pricing__cost {
  font-size: 3.5rem;
  line-height: 56px;
  letter-spacing: -0.43px;
  font-family: "DM Serif Display", serif;
  font-weight: 700;
  color: #36536b;
  margin-top: 2rem;
  display: block;
}
@media screen and (min-width: 45rem) {
  .main__pricing {
    padding: 0 2.4375rem;
  }
  .main__pricing .plans {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    gap: 10px;
  }
}
@media screen and (min-width: 80rem) {
  .main__pricing {
    padding: 5rem 10.3125rem 0;
  }
  .main__pricing .pricing__title {
    text-align: left;
  }
  .main__pricing .pricing__summary {
    text-align: left;
  }
  .main__pricing .main__pricing__cost {
    text-align: left;
  }
  .main__pricing .plan__list__item {
    margin-left: 0;
  }
}

.main__about {
  margin-top: -0.625rem;
  text-align: center;
}
.main__about .mission__title {
  color: #36536b;
  font-family: "DM Serif Display", serif;
  line-height: 32px;
  font-size: 1.5rem;
  letter-spacing: -0.18px;
}
.main__about .mission__summary {
  padding: 0 1.5rem;
}
.main__about .mission {
  margin-bottom: 2.625rem;
}
.main__about .hero__about__img {
  margin: 4.75rem auto 3.125rem;
}
.main__about .primary__about {
  padding: 0 1.5rem;
}
.main__about .about__list {
  border-top: 1px solid #6C8294;
  border-bottom: 1px solid #6C8294;
  padding-top: 0.625rem;
}
.main__about .about__list__summary {
  font-size: 1rem;
  line-height: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #6C8294;
}
.main__about .about__list__item {
  margin-bottom: 1.75rem;
}
.main__about .about__list__data {
  font-size: 3.5rem;
  line-height: 72px;
  letter-spacing: -0.43px;
  color: #BA4270;
  font-family: "DM Serif Display", serif;
}
@media screen and (min-width: 45rem) {
  .main__about {
    margin-top: 0.625rem;
  }
  .main__about .missions {
    margin-bottom: 6rem;
    margin-top: 0.9375rem;
  }
  .main__about .mission {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 0 2.4375rem;
  }
  .main__about .mission__title {
    flex: 1 1 33%;
    text-align: left;
  }
  .main__about .mission__summary {
    padding: 0;
    flex: 1 1 67%;
    text-align: left;
  }
  .main__about .about__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
  }
  .main__about .about__list__item {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid #6C8294;
    border-bottom: 1px solid #6C8294;
    width: 32%;
  }
  .main__about .about__list__summary {
    align-items: baseline;
  }
  .main__about .primary__about {
    padding: 0 2.4375rem;
  }
}
@media screen and (min-width: 80rem) {
  .main__about {
    margin-top: 10px;
  }
  .main__about .about__list {
    padding: 1rem 10.3125rem;
  }
  .main__about .mission {
    padding: 0;
  }
  .main__about .missions {
    padding: 0 16.25rem;
    margin-bottom: 9.375rem;
  }
  .main__about .about__img {
    position: relative;
  }
  .main__about .about__img::before, .main__about .about__img::after {
    content: "";
    position: absolute;
    width: 170px;
    height: 170px;
    background-image: url("../../../assets/shared/desktop/bg-pattern-circle.svg");
    background-repeat: no-repeat;
    background-size: 290%;
    left: 0px;
  }
  .main__about .about__img::before {
    top: -10.625rem;
    transform: rotate(90deg);
  }
  .main__about .about__img::after {
    bottom: -10.625rem;
    transform: rotate(180deg);
  }
  .main__about .hero__image__container {
    max-width: 541px;
  }
}

.main__contact .hero__contact {
  margin-top: 3.125rem;
}
.main__contact .hero__title__contact {
  font-size: 1.5rem;
  line-height: 32px;
  letter-spacing: -0.18px;
  color: #36536b;
  padding: 0 24px;
}
@media screen and (min-width: 80rem) {
  .main__contact .contact__primary {
    padding: 1.875rem 0px 1.875rem 10.3125rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6rem;
  }
  .main__contact .hero__contact {
    margin-top: 0;
    flex-direction: column;
    align-items: baseline;
  }
}
