@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Public+Sans:wght@100;300;400;500;600;700;800;900&display=swap");
*, *::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.btn {
  max-width: 252px;
  width: 100%;
  background-color: #BA4270;
  color: #ffffff;
  border: 1px solid transparent;
  padding: 0.7rem 3rem;
  border-radius: 24px;
  margin: auto;
  display: block;
}
@media screen and (min-width: 720px) {
  .btn {
    margin: 0;
    max-width: 173px;
    display: inline-block;
    padding: 0.7rem 1rem;
  }
}

.js__primary {
  font-weight: 700;
  max-width: 327px;
}
@media screen and (min-width: 720px) {
  .js__primary {
    max-width: 173px;
    margin-left: -48px;
    display: inline-block;
  }
}

@media screen and (min-width: 1280px) {
  .js__secondary--btn {
    margin-right: 165px;
  }
}

.card {
  margin-bottom: 35px;
  margin-top: 15px;
  padding: 0 24px;
}
.card .card__title {
  text-align: center;
  font-size: 2.25rem;
  line-height: 36px;
  letter-spacing: -0.26px;
  font-family: "DM Serif Display", serif;
  color: #36536b;
}
.card .card__subtitle {
  font-family: "DM Serif Display", serif;
  color: #36536b;
  text-align: center;
  font-size: 1.125rem;
  line-height: 25px;
  letter-spacing: -0.14px;
}
.card .card__description {
  margin-top: 25px;
}
.card .card__summary {
  font-size: 0.9375rem;
  line-height: 28px;
  font-weight: 300;
  padding: 20px 0;
  text-align: center;
}
.card .card__img {
  margin: auto;
  width: 100%;
}
.card .js__primaryImg {
  width: 32%;
  margin: auto;
}
@media screen and (min-width: 720px) {
  .card {
    padding: 0;
  }
  .card .cards__two {
    padding: 0 39px;
    display: flex;
    margin: auto;
  }
  .card .card__title {
    font-size: 3rem;
    line-height: 36px;
    letter-spacing: -0.37px;
  }
}

header {
  position: relative;
  padding-bottom: 40px;
}
header::before {
  position: absolute;
  content: "";
  width: 100%;
  min-height: 230px;
  background-image: url("../../../assets/shared/desktop/bg-pattern-circle.svg");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  opacity: 0.4;
}
header nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 24px 0;
}
header .menu__control {
  position: relative;
  z-index: 3;
}
header .close__menu {
  position: absolute;
  top: 0;
  left: 0;
}
header .hamburger,
header .close__menu {
  background: inherit;
  border: transparent;
}
header .modal {
  display: none;
  position: absolute;
  width: 50%;
  width: 80%;
  right: 0;
  top: 0px;
  background-color: #1b262f;
  padding-bottom: 335px;
}
header .nav__list {
  padding-top: 139px;
  padding-bottom: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
header .nav__list::before {
  position: absolute;
  content: "";
  width: 80%;
  height: 1px;
  background: white;
  top: 95px;
  left: 50%;
  margin-left: -40%;
}
header li {
  list-style: none;
}
header .anchor {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}
header .cta__summary {
  padding: 0 24px;
}
header .cta__img {
  width: 52%;
  margin: auto;
}
header .cta__title {
  font-size: 2rem;
  font-family: "DM Serif Display", serif;
  line-height: 36px;
  letter-spacing: -0.25px;
  text-align: center;
  color: #36536b;
  margin-bottom: 25px;
}
header .modal__open {
  display: block;
  z-index: 2;
}
header .toggle__btn__close {
  display: block;
  position: relative;
}
header .toggle__btn__open {
  display: none;
}
@media screen and (min-width: 720px) {
  header::before {
    min-height: 340px;
    background-position: 50% 100%;
    background-size: 120%;
  }
  header .cta__container {
    margin-top: 25px;
  }
  header .cta__img {
    width: 32%;
  }
  header .menu__control {
    display: none;
  }
  header .modal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
    background-color: transparent;
  }
  header nav {
    padding: 40px 39px 0;
  }
  header .nav__list {
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: flex-start;
  }
  header .nav__list::before {
    width: 0;
  }
  header .anchor {
    color: #36536b;
  }
  header .cta__summary {
    max-width: 573px;
    margin: auto;
  }
  header .cta__title {
    font-size: 3rem;
    line-height: 56px;
    letter-spacing: -0.37px;
    margin-top: -20px;
  }
}
@media screen and (min-width: 1280px) {
  header {
    padding-bottom: 0;
  }
  header::before {
    min-height: 640px;
    background-position: 130% 140%;
    background-size: 55%;
  }
  header nav {
    padding: 40px 165px 0;
  }
  header .modal {
    width: 75%;
    justify-content: space-between;
    margin: auto;
  }
  header .cta {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 165px;
    margin-top: 32px;
  }
  header .cta__container {
    flex: 1 1 40%;
  }
  header .cta__summary {
    flex: 1 1 60%;
    max-width: 100%;
  }
  header .cta__title {
    text-align: left;
    font-size: 4.5rem;
    line-height: 72px;
    letter-spacing: -0.55px;
    margin-top: -54px;
    margin-bottom: 54px;
  }
  header .cta__img {
    width: 95%;
  }
}

.form {
  position: relative;
  z-index: 1;
}
.form .email {
  display: block;
  margin: 0 auto 20px;
  max-width: 327px;
  padding: 0.7rem 1rem;
  width: 100%;
  border-radius: 24px;
  border: 1px solid transparent;
  font-weight: 700;
}
.form:focus-within {
  border: 2px solid #1d0404;
}
.form .form__questions {
  margin: 24px auto 0;
  text-align: center;
  color: #6C8294;
}
.form .form__anchor {
  color: #6C8294;
  font-weight: 700;
}
.form .sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
@media screen and (min-width: 720px) {
  .form .email {
    margin: 0;
    display: inline-block;
  }
  .form .form__questions {
    text-align: center;
  }
}
@media screen and (min-width: 1280px) {
  .form .email {
    max-width: 295px;
  }
  .form .form__questions {
    text-align: left;
  }
}

.main {
  margin-top: 48px;
}
.main .hero__container {
  background-image: url("../../../assets/shared/desktop/bg-pattern-circle.svg");
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: 50% -110%;
  background-color: #1b262f;
  padding-bottom: 100px;
}
.main .hero__images {
  padding: 52px 24px;
  max-width: 536px;
  display: grid;
  grid-gap: 30px 0;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  place-items: center;
  margin: auto;
}
.main .hero__images .hero__img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}
@media screen and (min-width: 375px) {
  .main .hero__images {
    place-items: flex-start;
  }
  .main .hero__images .hero__img:nth-child(2n) {
    justify-self: end;
  }
}
@media screen and (min-width: 498px) {
  .main .hero__images .hero__img:not(:first-child) {
    justify-self: end;
  }
  .main .hero__images .hero__img:nth-child(4n) {
    justify-self: start;
  }
  .main .hero__images .hero__img:nth-child(5n) {
    justify-self: center;
  }
}
.main .hero__signup {
  color: #ffffff;
  text-align: center;
  padding-top: 5px;
  max-width: 457px;
  margin: auto;
}
.main .hero__title {
  font-size: 2rem;
  line-height: 36px;
  font-family: "DM Serif Display", serif;
  letter-spacing: -0.25px;
}
.main .hero__summary {
  font-size: 0.9375rem;
  line-height: 28px;
  font-weight: 200;
  padding: 12px 24px;
}
.main .link--btn {
  font-size: 1rem;
  letter-spacing: -0.12px;
  color: white;
  text-decoration: none;
  border: 1px solid #ffffff;
  padding: 0.9rem 1.8rem;
  border-radius: 24px;
  display: block;
  margin: 56px auto 0;
  max-width: 130px;
}
@media screen and (min-width: 720px) {
  .main {
    margin-top: 60px;
  }
  .main .hero__container {
    background-size: 50%;
    background-position: -25% 130%;
    padding-top: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .main {
    margin-top: -61px;
  }
  .main .hero {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    align-items: center;
    padding: 0 165px;
  }
  .main .hero__title {
    text-align: left;
    font-size: 3rem;
    line-height: 56px;
    letter-spacing: -0.37px;
  }
  .main .hero__summary {
    text-align: left;
    padding: 20px 0;
  }
  .main .link--btn {
    margin-left: 0;
  }
}

body {
  background-color: #FBFCFE;
  font-family: "Public Sans", sans-serif;
  font-size: 15px;
  overflow-x: hidden;
}
