@use '../base';

.btn {
	max-width: 252px;
	width: 100%;
	background-color: base.$bg-btn-pink;
	color: base.$tx-white;
	border: 1px solid transparent;
	padding: 0.7rem 3rem;
	border-radius: 24px;
	margin: auto;
	display: block;

	@include base.mQ(768px) {
		margin: 0;
		max-width: 173px;
		display: inline-block;
		padding: 0.7rem 1rem;
	}
}

.js__primary {
	font-weight: 700;
	max-width: 327px;
	@include base.mQ(768px) {
		max-width: 173px;
		margin-left: -48px;
		display: inline-block;
	}
}