@use '../base';

.btn {
	max-width: 252px;
	width: 100%;
	background-color: base.$bg-btn-pink;
	color: base.$tx-white;
	border: 3px solid transparent;
	padding: 0.7rem 3rem;
	border-radius: 24px;
	margin: auto;
	display: block;

	&:focus {
		outline: 3px solid black;
	}

	@include base.mQ(720px) {
		margin: 0;
		max-width: 173px;
		display: inline-block;
		padding: 0.7rem 1rem;
	}
}

.js__primary {
	font-weight: 700;
	max-width: 327px;

	@include base.mQ(720px) {
		max-width: 173px;
		margin-left: -48px;
		display: inline-block;
	}
}

.js__secondary--btn {
	@include base.mQ(1280px) {
		margin-right: 165px;
	}
}

.js__form--btn {
	margin-left: 0;
	color: base.$tx-dark-grey;
	background: inherit;
	border: 1px solid base.$tx-dark-grey;
	max-width: 152px;
}