@use '../base';

.card {
    margin-bottom: base.calculateRem(35);
    margin-top: base.calculateRem(15);
    padding: 0 base.calculateRem(24);

    .card__title {
        text-align: center;
        font-size: base.calculateRem(36);
        line-height: 36px;
        letter-spacing: -0.26px;
        font-family: base.$heading-font;
        color: base.$tx-dark-grey;
    }

    .card__subtitle {
        font-family: base.$heading-font;
        color: base.$tx-dark-grey;
        text-align: center;
        font-size: base.calculateRem(18);
        line-height: 25px;
        letter-spacing: -0.14px;
    }

    .card__description {
        margin-top: base.calculateRem(25);
    }

    .card__summary {
        font-size: base.calculateRem(15);
        line-height: 28px;
        font-weight: 300;
        padding: base.calculateRem(20) 0;
        text-align: center;
        color: base.$tx-grey-mid;
    }

    .card__img {
        margin: auto;
        max-width: 100vw;
    }

    .js__primaryImg {
        width: 32%;
        margin: auto;
    }

    @include base.mQ(720px) {

        padding: 0;

        // max-width: 573px;
        .cards__two {
            padding: 0 base.calculateRem(39);
            display: flex;
            margin: auto;
        }

        .card__title {
            font-size: base.calculateRem(48);
            line-height: 36px;
            letter-spacing: -0.37px;
        }

        .card__summary {
            max-width: 573px;
            margin: auto;
        }

        .card__img {
            width: 70%;
            margin-bottom: -(base.calculateRem(43));
        }

        .js__primaryImg {
            margin-bottom: base.calculateRem(43);
            width: 40%;
        }
    }

    @include base.mQ(1280px) {
        .card__summary {
            text-align: left;
        }

        .card__title {
            text-align: left;
        }
    }
}

.cards__two {
    @include base.mQ(720px) {
        display: flex;
        flex-wrap: nowrap;
        padding: base.calculateRem(39);
        gap: 15px;
    }

    @include base.mQ(1280px) {
        padding: 0 base.calculateRem(165);
    }

}

.cards__one {
    @include base.mQ(1280px) {
        .card {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 base.calculateRem(165);

            .card__img {
                margin-left: 0;
            }

            &:last-child {
                position: relative;
                flex-direction: row-reverse;
                z-index: 2;

                .card__img {
                    margin-right: 0;
                    margin-left: auto;
                }

                &::before {
                    position: absolute;
                    top: -30px;
                    right: -127px;
                    content: "";
                    width: 400px;
                    height: 400px;
                    background-image: url("../../assets/shared/desktop/bg-pattern-circle.svg");
                    z-index: 1;
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                }
            }
        }

    }
}