@use '../base';

.footer {
    background-image: url('../../assets/shared//desktop//bg-pattern-circle.svg');
    position: relative;
    background-repeat: no-repeat;
    background-size: 140%;
    background-position: 50% -100%;
    background-color: #1b262f;
    padding-top: 45px;
    padding-bottom: 100px;   

    .logo--link {

        // background-color: turquoise;
        &:focus>img {
            outline: 2px solid base.$anchor-focus;
        }
    }

    .footer__logo {
        margin: auto;

        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);

        &:focus {
            outline: 2px solid base.$anchor-focus;
        }
    }

    // social icons - facebook, twitter , linkeid
    .social__icons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 45px;

        .anchor {
            &:focus {
                outline: 2px solid base.$anchor-focus;
            }

            &:not(:last-child) {
                margin-right: 25px;
            }
        }

    }

    //medium devices control
    @include base.mQ(720px) {
        background-position: -115% 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 39px;

        .logo--link {
            flex: 1 1 25%;
        }

        .social__icons {
            margin-top: 0;
            flex: 1 1 30%;
        }

        .footer__nav {
            display: flex;
            justify-content: space-evenly;
            flex: 1 1 75%;
        }
    }
}


// footer list control

.js__footer__list {
    text-align: center;
    padding-top: 40px;

    .nav__list__item {
        list-style-type: none;

        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }

    .anchor {
        color: base.$tx-white;
        text-decoration: none;

        &:focus {
            outline: 2px solid base.$anchor-focus;
        }
    }

    //medium devices control
    @include base.mQ(720px) {
        padding-top: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex: 1 1 75%;

        .nav__list__item {
            &:not(:last-child) {
                margin-bottom: 0;
            }
        }
    }

}