@use '../base';

.form__contact {
    padding: base.calculateRem(15) base.calculateRem(24);
    max-width: 447px;
    margin: auto;

    .details {
        position: relative;
        margin-bottom: base.calculateRem(24);
    }

    .form__inputs {
        display: block;
        width: 100%;
        padding: base.calculateRem(20) 0 0;
        border-top: none;
        border-left: none;
        border-right: none;
        background-color: inherit;
        border-bottom: 1px solid base.$tx-dark-grey;

        &:focus {
            outline: 3px solid base.$tx-dark-grey;
        }

        &:hover {
            outline: 3px solid base.$tx-dark-grey;
        }

    }

    .input__label {
        font-size: base.calculateRem(12);
        line-height: 25px;
        letter-spacing: -0.12px;
        position: absolute;
        top: -5px;
        left: 0;
    }

    .details__check {
        display: flex;
        align-items: baseline;
        justify-content: flex-start;
    }

    .check__label {
        text-align: left;
        margin-left: base.calculateRem(15);
    }

    .error__alert {
        text-align: left;
        margin-left: 0;
        display: block;
        margin-top: -(base.calculateRem(20));
        color: base.$error-color;
        font-size: base.calculateRem(11);
    }

    @include base.mQ(1280px) {
        padding: 0.9375rem 0;
        margin: 0;
    }

}