@use "../base";

.form {
    // max-width: 573px;
    margin: auto;
    text-align: center;
    position: relative;
    z-index: 1;
    width: 100%;
    // opacity: 0.75;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    &:focus-within {
        opacity: 1;
    }

    @include base.mQ(45rem) {
        text-align: center;
        flex-direction: row;
        gap: 0;
    }

    @include base.mQ(80rem) {
        text-align: left;
        justify-content: flex-start;
    }
}

.form__centered {
    @include base.mQ(80rem) {
        justify-content: center;
    }
}

.email {
    display: block;
    max-width: 21rem;
    padding: 0.7rem;
    width: 100%;
    border-radius: 24px;
    border: 1px solid transparent;
    font-size: 1rem;
    font-weight: 700;
    color: base.$tx-dark-grey;
    font-family: base.$main-font;
    box-shadow: 2px 2px 3px 2px base.$tx-grey-mid;

    &:focus {
        outline: 1px solid base.$anchor-focus;
    }

    @include base.mQ(45rem) {
        margin: 0;
        display: inline-block;
    }
}

.js__primary {
    @include base.mQ(45rem) {
        margin-left: -48px;
    }
}

.form__contact {
    padding: base.calculateRem(15) base.calculateRem(24);
    max-width: 28rem;
    margin: auto;

    @include base.mQ(80rem) {
        padding: 0.9375rem 0;
        margin: 0;
    }
}

.details {
    position: relative;
    margin-bottom: base.calculateRem(16);
}

.form__inputs {
    display: block;
    width: 100%;
    padding: base.calculateRem(16) 0 0;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: inherit;
    border-bottom: 1px solid base.$tx-dark-grey;

    &:focus {
        outline: 3px solid base.$tx-dark-grey;
    }

    &:hover {
        outline: 3px solid base.$tx-dark-grey;
    }
}

.input__label {
    font-size: base.calculateRem(12);
    line-height: 25px;
    letter-spacing: -0.12px;
    position: absolute;
    top: -5px;
    left: 0;
}

.details__check {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}

.check__label {
    text-align: left;
    margin-left: base.calculateRem(15);
}

.error__alert {
    text-align: left;
    margin-left: 0;
    display: block;
    margin-top: -(base.calculateRem(20));
    color: base.$error-color;
    font-size: base.calculateRem(11);
}
